@mixin grid-item($grid-prefix, $key, $value, $grid-count) {
  $percent: percentage($value/$grid-count);
  $prefix: #{$grid-prefix}-#{$key};
  $cls-name: #{$prefix}-#{$value}-#{$grid-count};
  $num: $grid-count/$value;

  @if $key == "" {
    $prefix: $grid-prefix;
  }

  @if is-int($num) {
    $cls-name: #{$prefix}#{$num};
  }

  #{$cls-name}_ > *,
  #{$cls-name} {
    width: calc(#{$percent} - 1em);
  }
}

@mixin grid($grid-prefix: ".col", $grid-count: 24, $key: "u", $min-width: auto) {
  @if $min-width != auto {
    @media screen and (min-width: $min-width) {
      @for $value from 1 through $grid-count {
        @include grid-item($grid-prefix, $key, $value, $grid-count);
      }
    }
  } @else {
    @for $value from 1 through $grid-count {
      @include grid-item($grid-prefix, $key, $value, $grid-count);
    }
  }
}
