/*wsui-emgrid Start*/
/* prettier-ignore */
.wsui-g,
.wsui-u_ {
  margin: -0.5em;
  overflow: hidden;
}

.wsui-u_ > *,
.wsui-u {
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
}

.col1_ > *,
.col1 {
  width: calc(8.33333% - 1em);
}

.col2_ > *,
.col2 {
  width: calc(16.66667% - 1em);
}

.col3_ > *,
.col3 {
  width: calc(25% - 1em);
}

.col4_ > *,
.col4 {
  width: calc(33.33333% - 1em);
}

.col5_ > *,
.col5 {
  width: calc(41.66667% - 1em);
}

.col6_ > *,
.col6 {
  width: calc(50% - 1em);
}

.col7_ > *,
.col7 {
  width: calc(58.33333% - 1em);
}

.col8_ > *,
.col8 {
  width: calc(66.66667% - 1em);
}

.col9_ > *,
.col9 {
  width: calc(75% - 1em);
}

.col10_ > *,
.col10 {
  width: calc(83.33333% - 1em);
}

.col11_ > *,
.col11 {
  width: calc(91.66667% - 1em);
}

.col12_ > *,
.col12 {
  width: calc(100% - 1em);
}

@media screen and (min-width: 35.5em) {
  .sm1_ > *,
  .sm1 {
    width: calc(8.33333% - 1em);
  }
  .sm2_ > *,
  .sm2 {
    width: calc(16.66667% - 1em);
  }
  .sm3_ > *,
  .sm3 {
    width: calc(25% - 1em);
  }
  .sm4_ > *,
  .sm4 {
    width: calc(33.33333% - 1em);
  }
  .sm5_ > *,
  .sm5 {
    width: calc(41.66667% - 1em);
  }
  .sm6_ > *,
  .sm6 {
    width: calc(50% - 1em);
  }
  .sm7_ > *,
  .sm7 {
    width: calc(58.33333% - 1em);
  }
  .sm8_ > *,
  .sm8 {
    width: calc(66.66667% - 1em);
  }
  .sm9_ > *,
  .sm9 {
    width: calc(75% - 1em);
  }
  .sm10_ > *,
  .sm10 {
    width: calc(83.33333% - 1em);
  }
  .sm11_ > *,
  .sm11 {
    width: calc(91.66667% - 1em);
  }
  .sm12_ > *,
  .sm12 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 48em) {
  .md1_ > *,
  .md1 {
    width: calc(8.33333% - 1em);
  }
  .md2_ > *,
  .md2 {
    width: calc(16.66667% - 1em);
  }
  .md3_ > *,
  .md3 {
    width: calc(25% - 1em);
  }
  .md4_ > *,
  .md4 {
    width: calc(33.33333% - 1em);
  }
  .md5_ > *,
  .md5 {
    width: calc(41.66667% - 1em);
  }
  .md6_ > *,
  .md6 {
    width: calc(50% - 1em);
  }
  .md7_ > *,
  .md7 {
    width: calc(58.33333% - 1em);
  }
  .md8_ > *,
  .md8 {
    width: calc(66.66667% - 1em);
  }
  .md9_ > *,
  .md9 {
    width: calc(75% - 1em);
  }
  .md10_ > *,
  .md10 {
    width: calc(83.33333% - 1em);
  }
  .md11_ > *,
  .md11 {
    width: calc(91.66667% - 1em);
  }
  .md12_ > *,
  .md12 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 64em) {
  .lg1_ > *,
  .lg1 {
    width: calc(8.33333% - 1em);
  }
  .lg2_ > *,
  .lg2 {
    width: calc(16.66667% - 1em);
  }
  .lg3_ > *,
  .lg3 {
    width: calc(25% - 1em);
  }
  .lg4_ > *,
  .lg4 {
    width: calc(33.33333% - 1em);
  }
  .lg5_ > *,
  .lg5 {
    width: calc(41.66667% - 1em);
  }
  .lg6_ > *,
  .lg6 {
    width: calc(50% - 1em);
  }
  .lg7_ > *,
  .lg7 {
    width: calc(58.33333% - 1em);
  }
  .lg8_ > *,
  .lg8 {
    width: calc(66.66667% - 1em);
  }
  .lg9_ > *,
  .lg9 {
    width: calc(75% - 1em);
  }
  .lg10_ > *,
  .lg10 {
    width: calc(83.33333% - 1em);
  }
  .lg11_ > *,
  .lg11 {
    width: calc(91.66667% - 1em);
  }
  .lg12_ > *,
  .lg12 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 80em) {
  .xl1_ > *,
  .xl1 {
    width: calc(8.33333% - 1em);
  }
  .xl2_ > *,
  .xl2 {
    width: calc(16.66667% - 1em);
  }
  .xl3_ > *,
  .xl3 {
    width: calc(25% - 1em);
  }
  .xl4_ > *,
  .xl4 {
    width: calc(33.33333% - 1em);
  }
  .xl5_ > *,
  .xl5 {
    width: calc(41.66667% - 1em);
  }
  .xl6_ > *,
  .xl6 {
    width: calc(50% - 1em);
  }
  .xl7_ > *,
  .xl7 {
    width: calc(58.33333% - 1em);
  }
  .xl8_ > *,
  .xl8 {
    width: calc(66.66667% - 1em);
  }
  .xl9_ > *,
  .xl9 {
    width: calc(75% - 1em);
  }
  .xl10_ > *,
  .xl10 {
    width: calc(83.33333% - 1em);
  }
  .xl11_ > *,
  .xl11 {
    width: calc(91.66667% - 1em);
  }
  .xl12_ > *,
  .xl12 {
    width: calc(100% - 1em);
  }
}

/*wsui-emgrid End*/
.wsui-g {
  outline: 1px solid lightblue;
}

.is-item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
}

.is-item2 {
  background-color: #eee;
  color: #333;
  padding: 1rem;
}

.container {
  border: 1px solid blue;
  width: 1200px;
  margin: 20px auto;
}
