/*wsui-emgrid Start*/
/* prettier-ignore */
.wsui-g,
.wsui-u_ {
  margin: -0.5em;
  overflow: hidden;
}

.wsui-u_ > *,
.wsui-u {
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
}

.ws-u24_ > *,
.ws-u24 {
  width: calc(4.16667% - 1em);
}

.ws-u12_ > *,
.ws-u12 {
  width: calc(8.33333% - 1em);
}

.ws-u8_ > *,
.ws-u8 {
  width: calc(12.5% - 1em);
}

.ws-u6_ > *,
.ws-u6 {
  width: calc(16.66667% - 1em);
}

.ws-u-5-24_ > *,
.ws-u-5-24 {
  width: calc(20.83333% - 1em);
}

.ws-u4_ > *,
.ws-u4 {
  width: calc(25% - 1em);
}

.ws-u-7-24_ > *,
.ws-u-7-24 {
  width: calc(29.16667% - 1em);
}

.ws-u3_ > *,
.ws-u3 {
  width: calc(33.33333% - 1em);
}

.ws-u-9-24_ > *,
.ws-u-9-24 {
  width: calc(37.5% - 1em);
}

.ws-u-10-24_ > *,
.ws-u-10-24 {
  width: calc(41.66667% - 1em);
}

.ws-u-11-24_ > *,
.ws-u-11-24 {
  width: calc(45.83333% - 1em);
}

.ws-u2_ > *,
.ws-u2 {
  width: calc(50% - 1em);
}

.ws-u-13-24_ > *,
.ws-u-13-24 {
  width: calc(54.16667% - 1em);
}

.ws-u-14-24_ > *,
.ws-u-14-24 {
  width: calc(58.33333% - 1em);
}

.ws-u-15-24_ > *,
.ws-u-15-24 {
  width: calc(62.5% - 1em);
}

.ws-u-16-24_ > *,
.ws-u-16-24 {
  width: calc(66.66667% - 1em);
}

.ws-u-17-24_ > *,
.ws-u-17-24 {
  width: calc(70.83333% - 1em);
}

.ws-u-18-24_ > *,
.ws-u-18-24 {
  width: calc(75% - 1em);
}

.ws-u-19-24_ > *,
.ws-u-19-24 {
  width: calc(79.16667% - 1em);
}

.ws-u-20-24_ > *,
.ws-u-20-24 {
  width: calc(83.33333% - 1em);
}

.ws-u-21-24_ > *,
.ws-u-21-24 {
  width: calc(87.5% - 1em);
}

.ws-u-22-24_ > *,
.ws-u-22-24 {
  width: calc(91.66667% - 1em);
}

.ws-u-23-24_ > *,
.ws-u-23-24 {
  width: calc(95.83333% - 1em);
}

.ws-u1_ > *,
.ws-u1 {
  width: calc(100% - 1em);
}

@media screen and (min-width: 35.5em) {
  .sm-u24_ > *,
  .sm-u24 {
    width: calc(4.16667% - 1em);
  }
  .sm-u12_ > *,
  .sm-u12 {
    width: calc(8.33333% - 1em);
  }
  .sm-u8_ > *,
  .sm-u8 {
    width: calc(12.5% - 1em);
  }
  .sm-u6_ > *,
  .sm-u6 {
    width: calc(16.66667% - 1em);
  }
  .sm-u-5-24_ > *,
  .sm-u-5-24 {
    width: calc(20.83333% - 1em);
  }
  .sm-u4_ > *,
  .sm-u4 {
    width: calc(25% - 1em);
  }
  .sm-u-7-24_ > *,
  .sm-u-7-24 {
    width: calc(29.16667% - 1em);
  }
  .sm-u3_ > *,
  .sm-u3 {
    width: calc(33.33333% - 1em);
  }
  .sm-u-9-24_ > *,
  .sm-u-9-24 {
    width: calc(37.5% - 1em);
  }
  .sm-u-10-24_ > *,
  .sm-u-10-24 {
    width: calc(41.66667% - 1em);
  }
  .sm-u-11-24_ > *,
  .sm-u-11-24 {
    width: calc(45.83333% - 1em);
  }
  .sm-u2_ > *,
  .sm-u2 {
    width: calc(50% - 1em);
  }
  .sm-u-13-24_ > *,
  .sm-u-13-24 {
    width: calc(54.16667% - 1em);
  }
  .sm-u-14-24_ > *,
  .sm-u-14-24 {
    width: calc(58.33333% - 1em);
  }
  .sm-u-15-24_ > *,
  .sm-u-15-24 {
    width: calc(62.5% - 1em);
  }
  .sm-u-16-24_ > *,
  .sm-u-16-24 {
    width: calc(66.66667% - 1em);
  }
  .sm-u-17-24_ > *,
  .sm-u-17-24 {
    width: calc(70.83333% - 1em);
  }
  .sm-u-18-24_ > *,
  .sm-u-18-24 {
    width: calc(75% - 1em);
  }
  .sm-u-19-24_ > *,
  .sm-u-19-24 {
    width: calc(79.16667% - 1em);
  }
  .sm-u-20-24_ > *,
  .sm-u-20-24 {
    width: calc(83.33333% - 1em);
  }
  .sm-u-21-24_ > *,
  .sm-u-21-24 {
    width: calc(87.5% - 1em);
  }
  .sm-u-22-24_ > *,
  .sm-u-22-24 {
    width: calc(91.66667% - 1em);
  }
  .sm-u-23-24_ > *,
  .sm-u-23-24 {
    width: calc(95.83333% - 1em);
  }
  .sm-u1_ > *,
  .sm-u1 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 48em) {
  .md-u24_ > *,
  .md-u24 {
    width: calc(4.16667% - 1em);
  }
  .md-u12_ > *,
  .md-u12 {
    width: calc(8.33333% - 1em);
  }
  .md-u8_ > *,
  .md-u8 {
    width: calc(12.5% - 1em);
  }
  .md-u6_ > *,
  .md-u6 {
    width: calc(16.66667% - 1em);
  }
  .md-u-5-24_ > *,
  .md-u-5-24 {
    width: calc(20.83333% - 1em);
  }
  .md-u4_ > *,
  .md-u4 {
    width: calc(25% - 1em);
  }
  .md-u-7-24_ > *,
  .md-u-7-24 {
    width: calc(29.16667% - 1em);
  }
  .md-u3_ > *,
  .md-u3 {
    width: calc(33.33333% - 1em);
  }
  .md-u-9-24_ > *,
  .md-u-9-24 {
    width: calc(37.5% - 1em);
  }
  .md-u-10-24_ > *,
  .md-u-10-24 {
    width: calc(41.66667% - 1em);
  }
  .md-u-11-24_ > *,
  .md-u-11-24 {
    width: calc(45.83333% - 1em);
  }
  .md-u2_ > *,
  .md-u2 {
    width: calc(50% - 1em);
  }
  .md-u-13-24_ > *,
  .md-u-13-24 {
    width: calc(54.16667% - 1em);
  }
  .md-u-14-24_ > *,
  .md-u-14-24 {
    width: calc(58.33333% - 1em);
  }
  .md-u-15-24_ > *,
  .md-u-15-24 {
    width: calc(62.5% - 1em);
  }
  .md-u-16-24_ > *,
  .md-u-16-24 {
    width: calc(66.66667% - 1em);
  }
  .md-u-17-24_ > *,
  .md-u-17-24 {
    width: calc(70.83333% - 1em);
  }
  .md-u-18-24_ > *,
  .md-u-18-24 {
    width: calc(75% - 1em);
  }
  .md-u-19-24_ > *,
  .md-u-19-24 {
    width: calc(79.16667% - 1em);
  }
  .md-u-20-24_ > *,
  .md-u-20-24 {
    width: calc(83.33333% - 1em);
  }
  .md-u-21-24_ > *,
  .md-u-21-24 {
    width: calc(87.5% - 1em);
  }
  .md-u-22-24_ > *,
  .md-u-22-24 {
    width: calc(91.66667% - 1em);
  }
  .md-u-23-24_ > *,
  .md-u-23-24 {
    width: calc(95.83333% - 1em);
  }
  .md-u1_ > *,
  .md-u1 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 64em) {
  .lg-u24_ > *,
  .lg-u24 {
    width: calc(4.16667% - 1em);
  }
  .lg-u12_ > *,
  .lg-u12 {
    width: calc(8.33333% - 1em);
  }
  .lg-u8_ > *,
  .lg-u8 {
    width: calc(12.5% - 1em);
  }
  .lg-u6_ > *,
  .lg-u6 {
    width: calc(16.66667% - 1em);
  }
  .lg-u-5-24_ > *,
  .lg-u-5-24 {
    width: calc(20.83333% - 1em);
  }
  .lg-u4_ > *,
  .lg-u4 {
    width: calc(25% - 1em);
  }
  .lg-u-7-24_ > *,
  .lg-u-7-24 {
    width: calc(29.16667% - 1em);
  }
  .lg-u3_ > *,
  .lg-u3 {
    width: calc(33.33333% - 1em);
  }
  .lg-u-9-24_ > *,
  .lg-u-9-24 {
    width: calc(37.5% - 1em);
  }
  .lg-u-10-24_ > *,
  .lg-u-10-24 {
    width: calc(41.66667% - 1em);
  }
  .lg-u-11-24_ > *,
  .lg-u-11-24 {
    width: calc(45.83333% - 1em);
  }
  .lg-u2_ > *,
  .lg-u2 {
    width: calc(50% - 1em);
  }
  .lg-u-13-24_ > *,
  .lg-u-13-24 {
    width: calc(54.16667% - 1em);
  }
  .lg-u-14-24_ > *,
  .lg-u-14-24 {
    width: calc(58.33333% - 1em);
  }
  .lg-u-15-24_ > *,
  .lg-u-15-24 {
    width: calc(62.5% - 1em);
  }
  .lg-u-16-24_ > *,
  .lg-u-16-24 {
    width: calc(66.66667% - 1em);
  }
  .lg-u-17-24_ > *,
  .lg-u-17-24 {
    width: calc(70.83333% - 1em);
  }
  .lg-u-18-24_ > *,
  .lg-u-18-24 {
    width: calc(75% - 1em);
  }
  .lg-u-19-24_ > *,
  .lg-u-19-24 {
    width: calc(79.16667% - 1em);
  }
  .lg-u-20-24_ > *,
  .lg-u-20-24 {
    width: calc(83.33333% - 1em);
  }
  .lg-u-21-24_ > *,
  .lg-u-21-24 {
    width: calc(87.5% - 1em);
  }
  .lg-u-22-24_ > *,
  .lg-u-22-24 {
    width: calc(91.66667% - 1em);
  }
  .lg-u-23-24_ > *,
  .lg-u-23-24 {
    width: calc(95.83333% - 1em);
  }
  .lg-u1_ > *,
  .lg-u1 {
    width: calc(100% - 1em);
  }
}

@media screen and (min-width: 80em) {
  .xl-u24_ > *,
  .xl-u24 {
    width: calc(4.16667% - 1em);
  }
  .xl-u12_ > *,
  .xl-u12 {
    width: calc(8.33333% - 1em);
  }
  .xl-u8_ > *,
  .xl-u8 {
    width: calc(12.5% - 1em);
  }
  .xl-u6_ > *,
  .xl-u6 {
    width: calc(16.66667% - 1em);
  }
  .xl-u-5-24_ > *,
  .xl-u-5-24 {
    width: calc(20.83333% - 1em);
  }
  .xl-u4_ > *,
  .xl-u4 {
    width: calc(25% - 1em);
  }
  .xl-u-7-24_ > *,
  .xl-u-7-24 {
    width: calc(29.16667% - 1em);
  }
  .xl-u3_ > *,
  .xl-u3 {
    width: calc(33.33333% - 1em);
  }
  .xl-u-9-24_ > *,
  .xl-u-9-24 {
    width: calc(37.5% - 1em);
  }
  .xl-u-10-24_ > *,
  .xl-u-10-24 {
    width: calc(41.66667% - 1em);
  }
  .xl-u-11-24_ > *,
  .xl-u-11-24 {
    width: calc(45.83333% - 1em);
  }
  .xl-u2_ > *,
  .xl-u2 {
    width: calc(50% - 1em);
  }
  .xl-u-13-24_ > *,
  .xl-u-13-24 {
    width: calc(54.16667% - 1em);
  }
  .xl-u-14-24_ > *,
  .xl-u-14-24 {
    width: calc(58.33333% - 1em);
  }
  .xl-u-15-24_ > *,
  .xl-u-15-24 {
    width: calc(62.5% - 1em);
  }
  .xl-u-16-24_ > *,
  .xl-u-16-24 {
    width: calc(66.66667% - 1em);
  }
  .xl-u-17-24_ > *,
  .xl-u-17-24 {
    width: calc(70.83333% - 1em);
  }
  .xl-u-18-24_ > *,
  .xl-u-18-24 {
    width: calc(75% - 1em);
  }
  .xl-u-19-24_ > *,
  .xl-u-19-24 {
    width: calc(79.16667% - 1em);
  }
  .xl-u-20-24_ > *,
  .xl-u-20-24 {
    width: calc(83.33333% - 1em);
  }
  .xl-u-21-24_ > *,
  .xl-u-21-24 {
    width: calc(87.5% - 1em);
  }
  .xl-u-22-24_ > *,
  .xl-u-22-24 {
    width: calc(91.66667% - 1em);
  }
  .xl-u-23-24_ > *,
  .xl-u-23-24 {
    width: calc(95.83333% - 1em);
  }
  .xl-u1_ > *,
  .xl-u1 {
    width: calc(100% - 1em);
  }
}

/*wsui-emgrid End*/
.wsui-g {
  outline: 1px solid lightblue;
}

.is-item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
}

.container {
  border: 1px solid blue;
  width: 1200px;
  margin: 20px auto;
}
