@import "../src/index.scss";

.wsui-u_ {
  border: 1px solid red;
}

.is-item {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
}

.is-item2 {
  background-color: #eee;
  color: #333;
  padding: 1rem;
}

.container {
  border:1px solid blue;
  width: 90%;
  margin: 20px auto;
}
