/*wsui-emgrid Start*/
@import "./grids/var";
@import "./grids/fns";
@import "./grids/mixins";


/* prettier-ignore */
$wsui-responsive-list: map-get($map: $wsui-emgrid-options, $key: 'responsive');
$wsui-responsive-list-count: map-get($map: $wsui-emgrid-options, $key: 'count');
$wsui-responsive-list-prefix: map-get($map: $wsui-emgrid-options, $key: 'prefix');

#{$wsui-responsive-list-prefix}-g,
#{$wsui-responsive-list-prefix}-u_ {
  margin: -0.5em;
  overflow: hidden;
}

#{$wsui-responsive-list-prefix}-u_ > *,
#{$wsui-responsive-list-prefix}-u {
  box-sizing: border-box;
  float: left;
  margin: 0.5em;
}

@include grid(".ws", $wsui-responsive-list-count);

@each $key, $value in $wsui-responsive-list {
  $prefix: unquote($string: ".#{$key}");
  @include grid( $prefix, $wsui-responsive-list-count, $value);
}

// @include grid(".sm", 24, "u", 35.5em);
// @include grid(".md", 24, "u", 48em);
// @include grid(".lg", 24, "u", 64em);
// @include grid(".xl", 24, "u", 80em);

/*wsui-emgrid End*/
